<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="person" class="com.niki.learn.Person" scope="singleton" init-method="onCreate" >
		<constructor-arg name="id" value="777"></constructor-arg>
		<constructor-arg name="name" value="factoryniki"></constructor-arg>
		<property name="taxId" value="23"></property>
		<property name="address" ref="address"></property>
	</bean>
	
	<bean id="address" class="com.niki.learn.Address">
		<constructor-arg name="street" value="seneca cir"></constructor-arg>
		<constructor-arg name="postalcode" value="22066"></constructor-arg>
	</bean>
	
	
</beans>